a.scrollable_content_prev.black {
  background: url(prev.png);
}
a.scrollable_content_next.black {
  background-image: url(next.png);
  clear: right;
}

/* single item */
.scrollable_content .items .slide.black {
  background-color: #060606;
  color: #fff;
}
.scrollable_content .items a.black {
  color: #fff;
}
.scrollable_content .items h3.black, .scrollable_content .items div.views-field-title.black {
  background-color: #231F20;
  color: #fff;
}